# ============================================
# API
# ============================================

API_KEY=change_me


# ============================================
# Airflow / Docker
# ============================================

# Linux / WSL user id
# Generate with:
# id -u
AIRFLOW_UID=1000

# Docker socket group id
# Generate with:
# stat -c '%g' /var/run/docker.sock
DOCKER_GID=999

# ============================================
# Git Credentials
# ============================================
GIT_USER_NAME=Votre Nom
GIT_USER_EMAIL=votre-email@example.com