events {}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    
    server {
        listen 80;
        location /control/mlflow/ {
            auth_basic "Compagnon Immobilier - Administration";
            auth_basic_user_file /etc/nginx/auth/.htpasswd;

            proxy_pass http://mlflow:5000/;

            proxy_set_header Host mlflow:5000;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /control/airflow/ {
            auth_basic "Compagnon Immobilier - Administration";
            auth_basic_user_file /etc/nginx/auth/.htpasswd;

            proxy_pass http://airflow:8080;

            proxy_set_header Host $http_host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";

            proxy_redirect off;
            proxy_http_version 1.1;
        }

        location /control/prometheus/ {
            auth_basic "Compagnon Immobilier - Administration";
            auth_basic_user_file /etc/nginx/auth/.htpasswd;

            proxy_pass http://prometheus:9090/;

            proxy_set_header Host $http_host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /control/grafana/ {
            auth_basic "Compagnon Immobilier - Administration";
            auth_basic_user_file /etc/nginx/auth/.htpasswd;

            proxy_pass http://grafana:3000;

            proxy_set_header Host $http_host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            proxy_http_version 1.1;
        }

        location /control/ {
            auth_basic "Compagnon Immobilier - Administration";
            auth_basic_user_file /etc/nginx/auth/.htpasswd;
            alias /usr/share/nginx/html/control/;
            index index.html;
        }

        location = /demo/predict {
            proxy_pass http://api:8000/predict;

            proxy_set_header X-API-Key "${API_KEY}";
            proxy_set_header Content-Type "application/json";

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location = / {
            root /usr/share/nginx/html/demo;
            try_files /index.html =404;
        }

        location /style.css {
            alias /usr/share/nginx/html/demo/style.css;
        }

        location /app.js {
            alias /usr/share/nginx/html/demo/app.js;
        }

        location /data/ {
            alias /usr/share/nginx/html/demo/data/;
        }

        location / {
            proxy_pass http://api:8000;

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
        
    }
}